html{
    scroll-behavior: smooth;
}
body {
    font-family: 'Lato', sans-serif;
    padding: 0;
    margin: 0;
    overflow: scroll;
    background-color: black;
    overflow-x: hidden;
}
a {
    text-decoration: none;
    color: white;
}
  
nav {
    background-color: rgb(0, 0, 0);
    padding: 10px 30px;
    color: white;
    outline: 2px solid white;
    position: sticky;
    top: 0;
    height: 0;
    z-index: 100;
    overflow: hidden;
    animation: colorCycle 30s linear infinite; 
    transition: height 0.5s;
  }
  
  @keyframes colorCycle {
    0% {
        -webkit-box-shadow: 2px 9px 17px 0px rgba(0, 0, 0, 0.87);
        box-shadow: 2px 9px 17px 0px rgba(0, 98, 245, 0.87);
    }
    25% {
        -webkit-box-shadow: 2px 9px 17px 0px rgba(0, 0, 0, 0.87);
        box-shadow: 2px 9px 17px 0px rgba(245, 245, 245, 0.87);
    }
    50% {
        -webkit-box-shadow: 2px 9px 17px 0px rgba(0, 0, 0, 0.87);
        box-shadow: 2px 9px 17px 0px rgba(0, 98, 245, 0.87);
    }
    75% {
        -webkit-box-shadow: 2px 9px 17px 0px rgba(0, 0, 0, 0.87);
        box-shadow: 2px 9px 17px 0px rgba(245, 245, 245, 0.87);
    }
    100% {
        -webkit-box-shadow: 2px 9px 17px 0px rgba(0, 0, 0, 0.87);
        box-shadow: 2px 9px 17px 0px rgba(0, 98, 245, 0.87);
    }
  }
  
  nav:hover {
    height: 100px;
    animation: none;
    transition: height 0.5s, box-shadow 0.5s;
    -webkit-box-shadow: 2px 9px 17px 0px rgba(0, 0, 0, 0.87);
    box-shadow: 2px 9px 17px 0px rgba(0, 98, 245, 0.87); 
  }
.navItems{
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navItem:hover {
    
    
    cursor: pointer;
  }
.title-container{
    display: flex;
    justify-content: center;
    padding-top: 10px;
}
.projectTitle{
    color: #fffcfc;
    font-size: 35pt;
    margin-left: 20px;
}
.video-container{
    display: flex;
    justify-content: center;
    padding-top: 50px;
}
video{
    outline: 5px solid white;
    border-radius: 10px;
    padding: 20px;
}