html{
    scroll-behavior: smooth;
}
body {
    font-family: 'Lato', sans-serif;
    padding: 0;
    margin: 0;
    overflow: scroll;
    background-color: black;
    overflow-x: hidden;
}
a {
    text-decoration: none;
    color: white;
}
  
nav {
    background-color: rgb(0, 0, 0);
    padding: 10px 30px;
    color: white;
    outline: 2px solid white;
    position: sticky;
    top: 0;
    height: 30px;
    z-index: 100;
    overflow: hidden;
    animation: colorCycle 30s linear infinite; 
    transition: height 2s;
  }
  
  @keyframes colorCycle {
    0% {
        -webkit-box-shadow: 2px 9px 17px 0px rgba(0, 0, 0, 0.87);
        box-shadow: 2px 9px 17px 0px rgba(0, 98, 245, 0.87);
    }
    25% {
        -webkit-box-shadow: 2px 9px 17px 0px rgba(0, 0, 0, 0.87);
        box-shadow: 2px 9px 17px 0px rgba(245, 245, 245, 0.87);
    }
    50% {
        -webkit-box-shadow: 2px 9px 17px 0px rgba(0, 0, 0, 0.87);
        box-shadow: 2px 9px 17px 0px rgba(0, 98, 245, 0.87);
    }
    75% {
        -webkit-box-shadow: 2px 9px 17px 0px rgba(0, 0, 0, 0.87);
        box-shadow: 2px 9px 17px 0px rgba(245, 245, 245, 0.87);
    }
    100% {
        -webkit-box-shadow: 2px 9px 17px 0px rgba(0, 0, 0, 0.87);
        box-shadow: 2px 9px 17px 0px rgba(0, 98, 245, 0.87);
    }
  }
  
  nav:hover  {
    height: 100px;
    animation: none;
    transition: height 2s, box-shadow 0.5s;
    -webkit-box-shadow: 2px 9px 17px 0px rgba(0, 0, 0, 0.87);
    box-shadow: 2px 9px 17px 0px rgba(0, 98, 245, 0.87); 
  }
  .navMenuIcon{
    position: absolute;
    margin-top: -30px;
    padding-bottom: 30px;
    animation: fadeIn 5s ease-in-out forwards;
    
}
  nav:hover .navMenuIcon {
    animation: fadeAway .5s ease-in-out forwards; 
}
@keyframes fadeAway {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        display: none;
    }
}
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;

    }
}
.navItems{
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding-top: 10px;
}

.navItem:hover {
    cursor: pointer;
}

.fcaTitle{
    font-weight: bold;
    padding-top: 50px;
    padding-bottom: 50px;
    font-size: 48px;
    text-align: center;
    color: white;

}
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    outline: 5px solid white;
    padding-bottom: 5em;
}

.photos {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    text-align: center;
}
.photo {
    flex: 1;
}
.photos img {
    max-width: 80%;
    margin-top: 40px;
    outline: 5px solid white;
    padding: 10 px;
    border-radius: 10px;
}
.desc-container {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center horizontally */
    justify-content: center; /* Center vertically */
    max-width: 80%; /* Limit the maximum width */
    margin: 0 auto; /* Center horizontally while keeping even space on both sides */
    padding: 20px; /* Add padding for space around the container */
    padding-top: 5em;
    padding-bottom: 200px;

}
.description {
    padding: 20px;
    color: white;
    outline: 5px solid white;
    font-size: 24px;
    font-weight: 20;
}