html{
    scroll-behavior: smooth;
}
body {
    font-family: 'Lato', sans-serif;
    padding: 0;
    margin: 0;
    overflow: scroll;
    background-color: black;
}
a {
    text-decoration: none;
    color: white;
}
  
  nav{
    background-color: rgb(0, 0, 0);
    padding: 10px 30px;
    color: white;    
    outline: 2px solid white;
    position: sticky;
    top: 0;
    height: 0;
    z-index: 100;
    overflow: hidden;
    transition: height 0.5s;
    -webkit-box-shadow: 2px 9px 17px 0px rgba(0,0,0,0.87); 
    box-shadow: 2px 9px 17px 0px rgba(245, 245, 245, 0.87);
    
}
nav:hover{
    height: 100px;


}
.navItems{
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navItem:hover {
    cursor: pointer;
  }
.title-container{
    display: flex;
    justify-content: center;
    padding-top: 10px;
}
.projectTitle{
    color: #fffcfc;
    font-size: 35pt;
    margin-left: 20px;
}
.slide-container{
    display: flex;
    justify-content: center;
    padding-top: 50px;
}
.slideshow {
    width: 1200px;
    height: 600px;
    overflow: hidden;
    position: relative;
    outline: 5px solid white;
    padding: 20px;
    padding-bottom: 100px;
    border-radius: 10px;
  }
  
  .slideshow ul {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
  }
  
  .slideshow li {
    flex: 1;
  }
  .slideshow li img {
    max-width: 100%;
    max-height: 100%;
  }
  .button-container{
    text-align: center;
    padding-top: 50px;
    padding-bottom: 200px;
  }
  button:hover{
    scale: 2.5;
    cursor: pointer;
  }
  .prevButton, .nextButton{
    scale: 2;
    color: rgb(255, 255, 255);
    background-color: black;
    outline: 2px solid white;
  }
  .prevButton{
    margin-right: 30px;
  }

  .nextButton{
    margin-left: 30px;
  }
  