html{
  scroll-behavior: smooth;
}
body {
  font-family: 'Lato', sans-serif;
  padding: 0;
  margin: 0;
  overflow: scroll;
  background-color: black;
  overflow-x: hidden;
}
a {
  text-decoration: none;
  color: white;
}

nav {
  background-color: rgb(0, 0, 0);
  padding: 10px 30px;
  color: white;
  outline: 2px solid white;
  position: sticky;
  top: 0;
  height: 25px;
  z-index: 100;
  overflow: hidden;
  animation: colorCycle 30s linear infinite; 
  transition: height 2s;
}

@keyframes colorCycle {
  0% {
      -webkit-box-shadow: 2px 9px 17px 0px rgba(0, 0, 0, 0.87);
      box-shadow: 2px 9px 17px 0px rgba(0, 98, 245, 0.87);
  }
  25% {
      -webkit-box-shadow: 2px 9px 17px 0px rgba(0, 0, 0, 0.87);
      box-shadow: 2px 9px 17px 0px rgba(245, 245, 245, 0.87);
  }
  50% {
      -webkit-box-shadow: 2px 9px 17px 0px rgba(0, 0, 0, 0.87);
      box-shadow: 2px 9px 17px 0px rgba(0, 98, 245, 0.87);
  }
  75% {
      -webkit-box-shadow: 2px 9px 17px 0px rgba(0, 0, 0, 0.87);
      box-shadow: 2px 9px 17px 0px rgba(245, 245, 245, 0.87);
  }
  100% {
      -webkit-box-shadow: 2px 9px 17px 0px rgba(0, 0, 0, 0.87);
      box-shadow: 2px 9px 17px 0px rgba(0, 98, 245, 0.87);
  }
}

nav:hover  {
  height: 100px;
  animation: none;
  transition: height 1s, box-shadow 0.5s;
  -webkit-box-shadow: 2px 9px 17px 0px rgba(0, 0, 0, 0.87);
  box-shadow: 2px 9px 17px 0px rgba(0, 98, 245, 0.87); 
}
.navMenuIcon{
  position: absolute;
  margin-top: -30px;
  padding-bottom: 30px;
  animation: fadeIn 5s ease-in-out forwards;
  
}
nav:hover .navMenuIcon {
  animation: fadeAway .5s ease-in-out forwards; 
}
@keyframes fadeAway {
  0% {
      opacity: 1;
  }
  100% {
      opacity: 0;
      display: none;
  }
}
@keyframes fadeIn {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;

  }
}
.navItems{
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding-top: 10px;
}

.navItem:hover {
  cursor: pointer;
}
.title-container{
  display: flex;
  justify-content: center;
}
.projectTitle{
  margin-top: .5em;
  color: #fffcfc;
  font-size: 26pt;
  margin-left: 20px;
}
.section-container{
  display: flex;
  align-items:center;
  margin-top: 1%;
  justify-content: space-between;
 
  
}
.slide-container{
  width: 900px;
  height: 500px;
  
}
.slideshow {
  overflow: hidden;
  position:relative;
  border-radius: 10px;
  -webkit-box-shadow: 0px 5px 15px 19px rgba(255,255,255,0.82); 
  box-shadow: 0px 5px 15px 19px rgba(255,255,255,0.82);
  margin-bottom: 2em;
  padding: 2em;
  
}

.slideshow ul {
  list-style: none;
  width: 100%;
  display: flex;
  padding: 0;
  
}

.slideshow li {
  flex: 1;
}
.slideshow li img {
  max-width: 100%;
  max-height: 100%;
}

button:hover{
  transform: scale(1.2);
  cursor: pointer;
  
}
.prevButton, .nextButton{
  scale: 2;
  color: rgb(255, 255, 255);
  background-color: black;
  outline: 2px solid white;
  height: 2em;
  transition: transform 0.3s ease;
  border-radius: 5px;
  padding-left: 15px;
  padding-right: 15px;
}
.prevButton{
  margin-left: 10%;
  margin-top: 5em;

  
}

.nextButton{
  margin-right: 8%;
  margin-top: 5em;
  
}
