html{
    scroll-behavior: smooth;
}
body {
    background-color: #000000;
    font-family: 'Lato', sans-serif;
    padding: 0;
    margin: 0;
    overflow: scroll;
    overflow-x: hidden;
   }
a {
    text-decoration: none;
  }
  
#nav-placeholder {
    height: 0;
}

nav {
    background-color: rgb(0, 0, 0);
    padding: 10px 30px;
    color: white;
    outline: 2px solid white;
    position: sticky;
    top: 0;
    height: 30px;
    z-index: 100;
    overflow: hidden;
    animation: colorCycle 30s linear infinite; 
    transition: height 2s;
  }
  
  @keyframes colorCycle {
    0% {
        -webkit-box-shadow: 2px 9px 17px 0px rgba(0, 0, 0, 0.87);
        box-shadow: 2px 9px 17px 0px rgba(0, 98, 245, 0.87);
    }
    25% {
        -webkit-box-shadow: 2px 9px 17px 0px rgba(0, 0, 0, 0.87);
        box-shadow: 2px 9px 17px 0px rgba(245, 245, 245, 0.87);
    }
    50% {
        -webkit-box-shadow: 2px 9px 17px 0px rgba(0, 0, 0, 0.87);
        box-shadow: 2px 9px 17px 0px rgba(0, 98, 245, 0.87);
    }
    75% {
        -webkit-box-shadow: 2px 9px 17px 0px rgba(0, 0, 0, 0.87);
        box-shadow: 2px 9px 17px 0px rgba(245, 245, 245, 0.87);
    }
    100% {
        -webkit-box-shadow: 2px 9px 17px 0px rgba(0, 0, 0, 0.87);
        box-shadow: 2px 9px 17px 0px rgba(0, 98, 245, 0.87);
    }
  }
  
  nav:hover  {
    height: 100px;
    animation: none;
    transition: height 2s, box-shadow 0.5s;
    -webkit-box-shadow: 2px 9px 17px 0px rgba(0, 0, 0, 0.87);
    box-shadow: 2px 9px 17px 0px rgba(0, 98, 245, 0.87); 
  }
  .navMenuIcon{
    position: absolute;
    margin-top: -30px;
    padding-bottom: 30px;
    animation: fadeIn 5s ease-in-out forwards;
    translate: -37px;
    
}
  nav:hover .navMenuIcon {
    animation: fadeAway .5s ease-in-out forwards; 
}
@keyframes fadeAway {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        display: none;
    }
}
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;

    }
}
.navItems, .navItemHome{
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding-top: 10px;
}

.navItem:hover, .navItemHome {
    cursor: pointer;
}
  /* Style for the sticky navigation bar */
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
}
#home {
    position: relative;
}

video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
}
.homeText-container{
    width: 100%;
    height: 100vh;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
   
}

.homeText-container h1{
    font-size: 40px;
    font-weight: 600;
    padding-bottom: 50px;
    z-index: 1;
    
}
.getStarted {
    font-size: 18px; /* Style your button as needed */
    background-color: black;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    outline: 3px solid white;
    z-index: 1;

}
.getStarted:hover{
    transition: ease-in-out .2s;
    background-color: rgb(44, 44, 44);
}

#about {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: #000000;
    overflow-x: hidden;
}
.aboutHeader{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: #000000;
    padding-top: 10px;
}
.aboutTitle{
    color: #fffcfc;
    outline: 5px solid white;
    padding: 10px 20px;
    border-radius: 10px;
    font-family: "raleway-bold";
    font-size: 35pt;
    margin-left: 20px; /* Add margin for spacing between logo and title */
}

.aboutTitleContainer {
    display: flex;
    align-items: center; /* Align items horizontally */
    justify-content: space-between;
    margin-right: 20px;
    margin-left: 20px;
}
.aboutIcon {
    width: 8%; 
    height: auto;
}
.aboutIcon img {
    max-width: 100%;
    height: auto;
}
.center-slideshow{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50vh; /* This ensures the container takes the full viewport height */
    background-color: black;
    margin-top: 200px;
    margin-bottom: 250px;
  }

  .slideshow-container {
    width: 100%;
    max-width: 1500px;
    height: 750px;
    position: relative;
    background-color: rgb(0, 0, 0);
    padding-bottom: 3em;
    z-index: 1;
    
}

.slide {
    width: 100%;
    height: 100%;
    position: absolute; /* Use position: absolute to stack slides */
    opacity: 0;
    top: 0;
    left: 0;
    background-size: cover;
    background-position: center center;
    transition: opacity 2s ease;
}

.slide img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensure the image covers the entire slide */
}

.slide:first-child {
    opacity: 1;
}

.aboutFrame{
    width: 20%;
    height: auto;
    background-color: #000000;
    outline: 2px solid white;
    outline-offset: 10px;
    border-radius: 10px;
    margin-top: 19px;

}
.aboutPic {
    width: 100%;
    height: auto;
    border-radius: 10px;
}
.aboutDescriptionContainer {
    padding: 20px 20px;
    background-color: #000000;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;


}
.aboutDesc{
    outline: 2px solid white;
    outline-offset: 10px;
    border-radius: 10px;
    padding: 20px;
    margin-top: 20px;
    width: 75%;
    box-sizing: border-box;
    
}
.aboutDescriptionText{
    color: white;
    font-size: 15pt;
    font-weight: normal;
    text-align: left;
    padding-left: 5%;
    margin: 0;
    padding-bottom: 20px;
}


.langDescription{
    color: rgb(255, 255, 255);
    font-size: 20px;
    padding: 10px 20px;
    outline: 2px solid white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin-bottom: 0;
}
.langIcon-container{
    width: 90%;
    display: flex;
    justify-content: space-between;
    outline: 2px solid white;
    padding: 0;
    border-radius: 10px;
    word-spacing: 0%;
    margin-top: 2px;
}

.langIcon{
    width: 100%;
    
}

#projects {
    /* Styles for the Projects section */
    background-color: #000000;
    background-image: url('./img/design.png');
    background-repeat: no-repeat;
    padding: 20px;
    padding: 20px;
    text-align: center;
    padding-bottom: 500px;
}
.projectSectionTitle{
    color: #fffcfc;
   margin-top: 35px;
    font-size: 48pt;
}

.projects-container {
    /* Flex container for projects */
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
}

.project{
    width: 30em;
    height: 30em;
    border: 5px solid #ffffff;
    border-radius: 20px;
    margin: 10px;
    padding: 50px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    position: relative;
    text-align: center;
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
   
}




.project img.project-preview {
    /* Styles for project preview image */
    cursor: pointer;
    width:  100%;
    height: auto;
    display: block; /* Center the image horizontally */
    margin: 0 auto; /* Center the image horizontally */
    transition: transform 0.3s ease-in-out;
}
img.project-preview2 {
    /* Styles for project preview image */
    cursor: pointer;
    max-width: 100%;
    height: auto;
    display: block; /* Center the image horizontally */
    margin: 0 auto; /* Center the image horizontally */
    transition: transform 0.3s ease-in-out;
    padding-bottom: 140px;
}
.project:hover, .fcaProject:hover {
    transform: scale(1.05);
}
.fcaProject{
    width: 30em;
    height: 30em;
    border: 5px solid #ffffff;
    border-radius: 20px;
    margin: 10px;
    padding: 50px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    position: relative;
    text-align: center;
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
}
.fcaProject img.project-preview {
    /* Styles for project preview image */
    cursor: pointer;
    width:  100%;
    height: auto;
    display: block; /* Center the image horizontally */
    margin: 0 auto; /* Center the image horizontally */
    transition: transform 0.3s ease-in-out;
}



.projectTitle{
    /* Styles for project details */
    display: block;
    font-size: 24px;
    color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}
#resume{
    background-color: #000000;
    padding-bottom: 20em;
    padding-top: 5em;
}
.resumeTitle{
    font-size: 36px;
    color: white;
    padding-top: 5px;
    padding-bottom: 5px;
    outline: 5px solid white;
}

.resume-container {
    text-align: center;
    width: 100%;
    height: 100%;
}
.resumePic{
    width: 700x;
    height: 1000px;
    margin-top: 150px;
    padding-left: 80px;
    outline: 5px solid white;
    border-radius: 5px;
    margin-bottom: 0;
}

#contact{
    padding-top: 100px;
    background-color: #000000;
    color: white;
    padding-bottom: 50vh;
    margin: 0;
}
.contact-container {
    text-align: center;
    width: 100%;
    height: 100%;
}
.contact-message{
    font-size: 50px;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
    outline: 5px solid white;
    align-items: center;
    margin-bottom: 100px;
}
#contact-form {
    text-align: center;
    padding-bottom: 200px;
}
.form-container{
    outline: 5px solid white;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin: 0 auto;
    padding: 10px;
    padding-bottom: 50px;
    border-radius: 50px;
}
.contactHeader{
    text-align: center;
    padding-bottom: 10px;
    font-size: 40px;
}
.form-group {
    margin: 10px;
}

label {
    display: block;
    font-weight: bold;
    font-size: 18px;
    padding-bottom: 20px;
    padding-top: 20px;
}
input[type="text"],input[type="email"],
textarea{
    
    padding: 10px;
    font-size: 16px;
    outline: 5px solid white;
    border-radius: 10px;
    background-color: #000000;
    color: white;
    text-align: center;
}

input[type="text"]{
    width: 10%;
}
input[type="email"]{
    width: 20%;

}
textarea {
    width: 50%;
    padding-bottom: 50px;
}

textarea{
    margin-bottom: 50px;
}


button {
    background-color: #080808;
    color: rgb(255, 255, 255);
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    font-weight: 200px;
    outline: 5px solid white;
    border-radius: 10px;
}

button:hover {
    background-color: #0300b3;
}
footer{
    display: flex;
    flex-direction: column;
    outline: 5px solid white;
    background-color: rgb(34, 33, 33);
    height: 100px;
    margin: 0;
    background-color: rgb(34, 33, 33);
    text-align: center;
    padding: 20px;
    bottom: 0;
    width: 100%;
}
.backToTop{
    text-align: center;
    color: white;
    translate: -30px;
}
.backToTop:hover{
    cursor: pointer;
    transform: scale(1.2);
    transition: .5s ease-out;
}