html{
    scroll-behavior: smooth;
}
body {
    font-family: 'Lato', sans-serif;
    padding: 0;
    margin: 0;
    overflow: scroll;
}

nav{
    background-color: rgb(0, 0, 0);
    padding: 15px 30px;
    color: white;    
    position: sticky;
    top: 0;
    bottom: 0;
    z-index: 100;
    transition: box-shadow 0.3s ease-in-out;
}
nav:hover{
    -webkit-box-shadow: 2px 9px 17px 0px rgba(0,0,0,0.87); 
    box-shadow: 2px 9px 17px 0px rgba(245, 245, 245, 0.87);
}
.navItems{
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navItem:hover {
    outline: 2px solid white;
    outline-offset: 10px; 
    transition: outline 0.3s ease; 
    cursor: pointer;
  }
  
.slideBg{
    background-color: rgb(0, 0, 0);
    padding-bottom: 3em;
    
}
.slideshow-container {
    width: 100%;
    height: 100vh; /* Full viewport height */
    position: relative;
    /* clip-path: polygon(0 0, 100% 0, 100% 85%, 0 97%); */
    /* clip-path: polygon(0 4%, 100% 12%, 100% 100%, 0 97%);Opposite */
    overflow: hidden;
    z-index: 0;
    
}

.slide {
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0;
    top: 0;
    left: 0;
    background-size: cover;
    background-position: center center;
    transition: opacity 2s ease;   
}
.slide img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensure the image covers the entire slide */
}
.slide:first-child{
    opacity: 1;
}
.aboutDescriptionContainer {
    padding: 20px 20px;
    background-color: #000000;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;


}
#about {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: #000000;
}
.aboutHeader{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: #000000;
}
.aboutTitle{
    color: #fffcfc;
    font-family: "raleway-bold";
    font-size: 35pt;
    margin-left: 20px; /* Add margin for spacing between logo and title */
}

.aboutTitleContainer {
    display: flex;
    align-items: center; /* Align items horizontally */
    justify-content: space-between;
}
.aboutImage {
    width: 10%; /* Adjust width as needed */
    height: auto;
}
.aboutImage img {
    max-width: 100%;
    height: auto;
}

.aboutFrame{
    width: 20%;
    height: auto;
    background-color: #000000;
    outline: 2px solid white;
    outline-offset: 10px;
    border-radius: 10px;
    margin-top: 19px;

}
.aboutPic {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}
.aboutDesc{
    outline: 2px solid white;
    outline-offset: 10px;
    border-radius: 10px;
    padding: 20px;
    margin-top: 20px;
    width: 75%;
    box-sizing: border-box;
    
}
.ab1{
    color: white;
    font-size: 15pt;
    font-weight: normal;
    text-align: left;
    padding-left: 5%;
    margin: 0;
    padding-bottom: 20px;
}
.ab2, .ab3, .ab4{
    color: white;
    font-size: 15pt;
    font-weight: normal;
    text-align: Left;
    padding-left: 5%;
    margin: 0;
    padding-bottom: 20px;
}
#projects {
    /* Styles for the Projects section */
    background-color: #000000;
    padding: 20px;
    text-align: center;
}

.projects-container {
    /* Flex container for projects */
    display: flex;
    justify-content: space-between;
    margin-top: 200px;


}

.project {
    /* Styles for project container */
    width: 25%; /* Adjust the width as needed */
    border: 5px solid #0a009d;
    border-radius: 20px;
    margin: 10px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    position: relative;
    text-align: center;
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
}

.project-preview {
    /* Styles for project preview image */
    width: 100%;
    height: auto;
}

.project img.project-preview {
    /* Styles for project preview image */
    cursor: pointer;
    max-width: 100%;
    height: auto;
    display: block; /* Center the image horizontally */
    margin: 0 auto; /* Center the image horizontally */
    transition: transform 0.3s ease-in-out;
}
.project:hover {
    transform: scale(1.05);
}

.project-details {
    /* Styles for project details */
    display: none;
    padding: 20px;
    margin-top: 10px;
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

.project-details h3 {
    /* Styles for project title in details */
    font-size: 24px;
    margin: 0;
}

.project-details p {
    /* Styles for project description in details */
    margin-top: 10px;
}
